/* This is the stylesheet where you will be putting your answers for Exercise 4: Positioning Objects */

/* PROPERTIES you will be using in this exercise include:
postion, top, left, right, order, display, justify-content, and z-index. */


#green-froggie {
  position: absolute;
  left: 97px;
}

#pro-one {


}

#red-froggie {
position:static

}

#gold-froggie {
position: fixed;
left: 1902px;
z-index: 31;

}

#rel-lily-pad {
  position: relative;
top: 380px;
left: 87px;

}

.flexbox-frogs-1 {
 display: flex;

}

.flexbox-frogs-2 {
  display: flex;
  justify-content: space-between;
}

#unhappy-green {
order: 3;
}

#happy-red {
order: 2;
}

#unhappy-purple {
order: 1;
}
